extends layout 
block content 
    div
        h1 Add New Message
        form(action="/new" method="POST")
            div 
                label(for="user") Username
                br
                input(type="text" id="user" name="user")
            div
                label(for="message")  Message 
                br
                textarea(cols="40", rows="10" type="text" id="message" name="message")
          
            button Submit
            a(href="/") Back to homepage
 
        